.form-group__label_type_credentials {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  color: #999999;
  padding: 0;
  margin: 0 0 8px 0;
  width: 100%;
}

.form-group__input_type_credentials {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1E1E1E;
  border: 0;
  border-bottom: 1px solid #3369F3;
  margin: 0;
  padding: 0 0 2px 0;
  width: 100%;
  outline: 0;
}

.form-group__error_type_credentials {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 8px;
  padding: 0;
  margin: 8px 0 0 0;
  color: #FF2F2F;
  width: 100%;
}