.form-group_type_profile {
  border-bottom: 1px solid #EAEAEA;
  padding: 10px 0;
}

.form-group__label_type_profile {
  font-family: inherit;
  color: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.form-group__input_type_profile {
  font-family: inherit;
  color: #999999;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  border: 0;
  margin: 0;
  padding: 0; 
  outline: 0;
  width: 100%;
}

.form-group__error_type_profile {
  display: none;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;  
  width: 100%;
}